extends layout

block content
    h1= title
    include form-error
    form(method="post" action='/books/:id')
    
        label(for="title") Title
        input(type='text' id='title' name='title') 
    p
        label(for='author') Author
        input(type='text' id='author' name='author') 
    p
        label(for='genre') Genre 
        input(type='text' id='genre' name='genre') 
    p
        label(for='year') Year 
        input(type='text' id='year' name='year') 
    p  
    form
    a.button(type='submit' href='/books') Update Book
    p     
    form
    a.button(type='submit' href='/books') Cancel
    p     
    form
    a.button(type='submit' href='/books') Delete Book
    